# Node dependencies
node_modules/

# Build output
dist/

# Environment variables
.env
.env.local

# Logs
logs/
*.log
npm-debug.log*

# --- TypeScript cache ---
*.tsbuildinfo

# Editor settings
.vscode/*
!.vscode/extensions.json
.idea/

# OS junk files
.DS_Store